.BigWhite {
	background-color:#FFFFFF;
	height:600px;
	width:900px;
	margin: 0 auto;
	border:2px solid;
	border-radius:25px;

}
.Announcements {	
	background-color:#73000A;
	height:550px;
	width:300px;
	margin: 300 auto;
	margin:30px 30px 30px 30px;
	border:2px solid black;
	float:left
} 	

	.InsideAnnouncement {
	background-color:Grey;
	height:500px;
	width:275px;
	border:2px scrollingd black;
	margin: 0 auto;
	
}
.RecentActivity {
	background-color:#73000A;
	height:200px;
	width:490px;
	margin:30px 30px 10px 10px;
	float:right;
	border:2px solid black;
}

	.InsideRecentActivity {
	background-color:grey;
	height:165px;
	width:475px;
	margin-right:5px;
	float:right;
	border:2px solid black;
	
}
	.Calendar {
	height:320px;
	width:490px;
	margin:15px 30px 10px 10px;
	float:right;
	border:2px solid black;
	}

	.whitebox{
	background-color:#FFFFFF;
	height:600px;
	width:900px;	
	margin: 0 auto;
	border:2px solid;
	border-radius:25px;
}
 .blackbox{
 	background-color:#FFFFFF;
 	height:400px;
 	width:700px;
 	border:2px solid black;
 	margin: 125px;
}
.GradesWhite {
	background-color:#FFFFFF;
	height:600px;
	width:1200px;
	margin: 0 auto;
	border:2px solid;
	border-radius:25px;

}
.Evals {	
	background-color:#73000A;
	height:550px;
	width:590px;
	//margin: 300 auto;
	margin:30px 30px 30px 30px;
	border:2px solid black;
	float:left;
}	

	.WeeklyGrades {
	background-color:Grey;
	height:550px;
	width:450px;
	border:2px scrollingd black;
	margin: 0 auto;
	
	float:right;
	
}
	.AllGrades {
	background-color:#73000A;
	height:350px;
	width:480px;

	margin:210px 30px 10px 10px;
	 float: right;
     bottom: 0;
     right: 0;

	border:2px solid black;
	}

	.InsideAllGrades {
	background-color:grey;
	height:300px;
	width:465px;
	margin-right:5px;
	float:right;
	border:2px solid black;
	
}
.GradeAverageText{
	float: right;
	margin-right: 225px;
	color: black;
}
	.GradesCalendar {
	background-color:Red;
	height:320px;
	width:490px;
	margin:15px 30px 10px 10px;
	float:right;
	border:2px solid black;
	}

.QuestionnaireWhite {
	background-color:#FFFFFF;
	height:1500px;
	width:900px;
	margin: 0 auto;
	border:2px solid;
	border-radius:25px;

}

.questions{
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	height: 500;

	
	postion: absolute;
	left: 20px; {{-- 20px from left of insideBigWhite --}}
	top: 25px; {{-- 25px from top of insideBigWhite --}}
}

.questionairedropbox{
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	height: 500;
		postion: absolute;
	left: 20px; {{-- 20px from left of insideBigWhite --}}
	top: 30px; {{-- 25px from top of insideBigWhite --}}
}

.radio-inline {
	width:900px;

}

.form-control {
	width:500px;
	margin:auto;
	display:inline;
		
}


.linkNextQ {
	background-color: #FFFFFF;
	height: 50px;
	width: 200px;
	 
	left: 50px; {{-- 50px from left of questions --}}
	top: 600px; {{-- 600px from top of questions --}}
	
}
.Login {
  background-color:#FFFFFF;
  width:500px;
  height:auto;
  margin: 0 auto;
  color:black;
  border:2px solid;
  border-radius:25px;
}


	a.blue:link {color:#0000FF}      /* unvisited link color blue */
    a.blue:visited {color:#0000FF}  /* visited link color blue*/
    a.blue:hover {color:rgb(95,87,79);}  /* mouse over link color Pluff mud*/
    a.blue:focus {color:rgb(95,87,79);}  /* link of focus color Pluff mud*/
    a.blue:active {color:rgb(178,180,179);}  /* selected link color State House Gray*/

.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #6E329D;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
