/*master and master login */
	.BigWhite {
		background-color:#FFFFFF;
		height: auto;
		width: 75%;
		margin: 3% auto 0%;
		border:2px solid;
		border-radius:25px;
		padding: 3%;
		color: #000;
	}

	.SmallWhite {
		background-color:#FFFFFF;
		height: auto;
		width: 50%;
		margin: 3% auto 0%;
		border:2px solid;
		border-radius:25px;
		padding: 1%;
		color: #000;
	}
	
	.XSmallWhite {
		background-color:#FFFFFF;
		height: auto;
		width: 30%;
		margin: 3% auto 0%;
		border:2px solid;
		border-radius:25px;
		padding: 1%;
		color: #000;
	}

	.cc-navbar {
		margin-top: -20px;
		margin-bottom: 5em;
		padding-top: 30px;
		background-color:rgb(178,180,179);
		border-color: #000;
	}

	.navbar a:link {color:#000000}      /* unvisited link color blue */
	.navbar a:visited {color:#000000}  /* visited link color blue*/
	.navbar a:hover {color:rgb(95,87,79)
		background-color: #000}  /* mouse over link color Pluff mud*/
	.navbar a:focus {color:rgb(95,87,79);}  /* link of focus color Pluff mud*/
	.navbar a:active {color:rgb(178,180,179);}  /* selected link color State House Gray*/
	.navbar li a:link {color:#000000}      /* unvisited link color blue */
	.navbar li a:visited {color:#000000}  /* visited link color blue*/
	.navbar li a:hover {
		color:rgb(95,87,79);
		background-color: #000
						}  /* mouse over link color Pluff mud*/
	.navbar li a:focus {color:rgb(95,87,79);}  /* link of focus color Pluff mud*/
	.navbar li a:active {color:rgb(178,180,179);}  /* selected link color State House Gray*/

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: black;
	}

	.navbar-default .navbar-toggle  {
		border-color: black;
	}

	.navbar-default .navbar-collapse {
		border-color: black;
	} 
	.navbar-collapse .in{
		border-color: black;
	}

	.master-header {
		margin-bottom: 5%;
	}
	h3 {
		color: #FFFFFF;
	}

	p1 {
		font-size: 140%;

	}
/*-----------------------*/

/* Home page */
	.Announcements {	
		border-radius:25px;
		background-color:#73000A;
		padding-bottom: 20px;
		padding-right: 20px;
		padding-left: 20px;
		border:2px solid black;
		float:left
	} 	

/*Calendar Stuff */

.CalendarBox {	
		
		background-color:#73000A;
		height:285px;
		width:450px;
		margin: 300 auto;
		margin:30px 30px 30px 30px;
		border:2px solid black;
		float:right
	} 	

/* Textarea resize */

textarea {
	resize: none;
}


/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left:0;    
    width: 100%;
    height: 100%;
    
}



	.InsideAnnouncement {
		background-color:Grey;
		border-radius:25px;
		padding: 5px 5px 5px 5px;
		height:auto;
		width:auto;
		border:2px solid black;
		margin: 0 0 3% 0;	
		
	}
	.RecentActivity {
		background-color:#73000A;
		height:200px;
		width:490px;
		margin:30px 30px 10px 10px;
		float:right;
		border:2px solid black;
	}
	.InsideRecentActivity {
		background-color:grey;
		height:420px;
		width:auto;
		margin:0 0 3% 0;
		border:2px solid black;
		
	}
	.Calendar {
		height:320px;
		width:490px;
		margin:15px 30px 10px 10px;
		float:right;
		border:2px solid black;
	}
/*---------------------------*/

/* My Grades */

	.GradeAverageText{
		height: 50px;
		width: auto;
		margin-top: 20px;
		margin-right: 225px;
		color: black;
	}

	.WeeklyGrades {
		background-color:Grey;
		height:500px;
		width:450px;
		margin:0 auto;
		float: left;
		border:2px solid black;
	}

	.AllGrades {
		background-color:#73000A;
		height:500px;
		width:auto;
		margin:0 10px 10px 600px;
		border:2px solid black;
	}

	.InsideAllGrades {
		background-color:grey;
		height:480px;
		width:auto;
		margin: 10px 10px 10px 10px;
		border:2px solid black;
		
	}

	.GradesCalendar {
		background-color:Red;
		height:320px;
		width:490px;
		margin:15px 30px 10px 10px;
		float:right;
		border:2px solid black;
		}

	.Evals {	
		background-color:#73000A;
		height:500px;
		width:auto;
		margin:0 0 0 10px;
		border:2px solid black;
		float:left;
	}	
/*----------------------------*/

/*Login page*/

	.Login {
		background-color:#FFFFFF;
		height: auto;
		width: 40%;
		margin: 3% auto 0%;
		border:2px solid;
		border-radius:25px;
		padding: 3%;
		color: #000;
	}

	.cc-btn-primary {
		color: white;
		background-color: rgb(95,87,79);
	}

	.cc-remember-box{
		margin-left: 1em;
	}
/*----------------------------*/

/*Questionare*/
	.questions{
		background-color: #FFFFFF;
		color: #000000;
		text-align: center;
		height: 500;
		postion: absolute;
		left: 20px; {{-- 20px from left of insideBigWhite --}}
		top: 25px; {{-- 25px from top of insideBigWhite --}}
	}

	.col-centered{
	    float: none;
	    margin: 0 auto;
	    width: 50%;
	}

	.QuestionnaireWhite {
		background-color:#FFFFFF;
		height:1500px;
		width:900px;
		margin: 0 auto;
		border:2px solid;
		border-radius:25px;

	}
		.AllGradesWhite {
		background-color:#FFFFFF;
		height: auto;
		width:900px;
		margin: 0 auto;
		border:2px solid;
		border-radius:25px;

	}


	.questionairedropbox{
		background-color: #FFFFFF;
		color: #000000;
		text-align: left;
		height: 500;
		postion: absolute;
		left: 20px; {{-- 20px from left of insideBigWhite --}}
		top: 30px; {{-- 25px from top of insideBigWhite --}}
	}

	.linkNextQ {
		background-color: #FFFFFF;
		height: 50px;
		width: 200px;
		 
		left: 50px; {{-- 50px from left of questions --}}
		top: 600px; {{-- 600px from top of questions --}}
		
	}
/*----------------------------*/

/* Admin Users */

	.gamecock-table {
		color: white;
		background-color: #73000A;
		border-color: white;
	}
	.gamecock-table th{
		background-color: black;
	}

	.table-white-space {
		background-color: white;
	}

	.table-btn-top-offset {
		margin-top: 0.5em;
	}

	.table-btn-bottom-offset {
		margin-bottom: 0.5em;
	}

	.initiallyHidden { display: none; }

/*----------------------------*/
/* Misc & Unordered */

	.whitebox{
		background-color:#FFFFFF;
		height:600px;
		width:900px;	
		margin: 0 auto;
		border:2px solid;
		border-radius:25px;
	}

	.blackbox{
	 	background-color:#FFFFFF;
	 	height:400px;
	 	width:700px;
	 	border:2px solid black;
	 	margin: 125px;
	}







	 a.black:link {color:#000000}      /* unvisited link color blue */
	 a.black:visited {color:#000000}  /* visited link color blue*/
	 a.black:hover {color:rgb(95,87,79);}  /* mouse over link color Pluff mud*/
	 a.black:focus {color:rgb(95,87,79);}  /* link of focus color Pluff mud*/
	 a.black:active {color:rgb(178,180,179);}  /* selected link color State House Gray*/

	 a.blue:link {color:#0000FF}      /* unvisited link color blue */
	 a.blue:visited {color:#0000FF}  /* visited link color blue*/
	 a.blue:hover {color:rgb(95,87,79);}  /* mouse over link color Pluff mud*/
	 a.blue:focus {color:rgb(95,87,79);}  /* link of focus color Pluff mud*/
	 a.blue:active {color:rgb(178,180,179);}  /* selected link color State House Gray*/

	.account-box
	{
	    border: 2px solid rgba(153, 153, 153, 0.75);
	    border-radius: 2px;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    -khtml-border-radius: 2px;
	    -o-border-radius: 2px;
	    z-index: 3;
	    font-size: 13px !important;
	    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
	    background-color: #ffffff;
	    padding: 20px;
	}

	.logo
	{
	    width: 138px;
	    height: 30px;
	    text-align: center;
	    margin: 10px 0px 27px 40px;
	    background-position: 0px -4px;
	    position: relative;
	}

	.forgotLnk
	{
	    margin-top: 10px;
	    display: block;
	    text-color: black;
	}

	.purple-bg
	{
	    background-color: #6E329D;
	    color: #fff;
	}

	.or-box
	{
	    position: relative;
	    border-top: 1px solid #dfdfdf;
	    padding-top: 20px;
	    margin-top:20px;
	}

	.or
	{
	    color: #666666;
	    background-color: #ffffff;
	    position: absolute;
	    text-align: center;
	    top: -8px;
	    width: 40px;
	    left: 90px;
	}

	.account-box .btn:hover
	{
	    color: #fff;
	}

	.btn-facebook
	{
	    background-color: #3F639E;
	    color: #fff;
	    font-weight:bold;
	}

	.btn-google
	{
	    background-color: #454545;
	    color: #fff;
	    font-weight:bold;
	}

	.createQuesForm
	{
		width:500px;
	}

	header{
	    margin-right: auto;
	    margin-left: auto;
	}

	body {
	    background-color: #73000A;
	    color: #FFFFFF;
	    text-align: center;
	    margin-right: auto;
	    margin-left: auto;
	}

	.User-Form {
		background-color:#FFFFFF;
		height:615px;
		width:900px;
		margin: 0 auto;
		border:2px solid;
		border-radius:25px;
		padding: 5%;
		color: black;
	}
/*-----------------------------*/

.calendar
{
	border-style:none;
}

@media screen and (min-width: 992px){
   .rwd-break { display: none; }
}

.calendar table
{
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
	color: white;
	background-color: #73000A;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.calendar table th {
	background-color: black;
	border-color: black;
	border-collapse: collapse;
}

.calendar table td {
	border-color: black;
}
.calendar table td a:link{font-weight:bold}

.user-btn{
	width: 60px;
	margin: 1px;
}

.user-btn-group {
	display: inline-block;
}

